body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

main {
    width: 100%;
}

main div {
    display: flex;
    width: 100%;
}

#esquerda {
    background-color: rgb(0, 127, 162);
    width: 25%;
    height: 100%;
    padding: 21px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: auto;
    scrollbar-width: thin; /* e para ser o do firefox */
    scrollbar-color: #2fb3c0 #004a5a; 
}

#esquerda h3{
    font-family: cursive;
    color:white;
}

#foto {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foto label {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #e6f0f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foto label img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}

#foto label img:hover {
    transform: scale(1.1);
}

#infoto {
    display: none;
}

#inputs {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#inputs input {
    height: 25px;
    border-radius: 7px;
    border: none;
    padding-left: 9px;
}

#inputs input:focus {
    outline: none;
}

#btn_div {
    display: flex;
    justify-content: end;
}

#submit {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(47, 179, 192);
    color: white;
    font-family: "Arial";
    font-weight: 750;
    transition: 0.3s ease;
}

#submit:hover {
    background-color: rgb(29, 188, 202);
}

#txtarea{
    height:160px ;
    width:97% ;
    padding: 5px;
    margin-bottom: 20px;
}

#direita {
    background-color: #e6f0f3;
    margin: 0px;
    width: 100vw;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0px;
}

#header {
    padding: 10px 0px 0px 20px;
    margin-bottom: 0px;
    color: #ffffff;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    height: 200px;
    border-bottom: 1px solid rgb(47, 75, 94);
    background: url("../imagens/portif_padr.avif");
    background-size: cover;
    background-position: 150px 245px;
    box-shadow: 1px 0px 15px rgba(0,0,0,0.9);
    align-items: center;
    font-family: "Arial";
    font-weight: 800;
    font-size: 30px;
}

#nome{
    padding-left:25% ;
}

#fotoport {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 25%;
    left: 13.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoport label {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #e6f0f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoport label img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    transition: 0.3s ease;
}

#infotoport {
    display: none;
}

#informacoes {
    display: flex;
    flex-direction: column;
    margin-right:10.5%;
    background-color: white;
    margin-top: 25px;
    padding: 16px;
    width: 50%;
    border-radius: 9px;
    font-family: "Arial";
    margin-bottom: 20px;
}

#informacoes p{
    font-size: 18px;
}

h3 {
    margin: 0px;
    padding: 0px;
}

#informacoes p{
    margin: 0px;
}

.servicos-container {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}

.servicos {
    display: flex;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    transition: transform 0.4s ease;
}

.servico {
    min-width: 100%;
    height: 300px;
    background-color: #00a7cc;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.servico img {
    width: 80%;
    height: 200px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
    border-radius: 50%;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

#addservic{
    display: flex;
    justify-content: end;
    gap: 5px;
}

#addservic input{
    display: flex;
    justify-content: end;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: rgb(28, 124, 161);
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

#addservic input:hover{
    background-color: rgb(47, 179, 192);
}

#confirm{
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    position:fixed;
    z-index: 11;
    width: 300px;
    background-color:#037791;
    display: flex;
    color: white;
    font-family: "Arial";
    padding: 15px;
    display: none;
    flex-direction: column;
    border-radius: 5px;
}

#confirm.show{
    display: block;
    opacity: 1;
}

#simounao{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#simounao input{
    width: 100px;
    height: 25px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: rgb(8, 146, 201);
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

#simounao input:hover{
    transform: scale(1.05);
    border: 1px solid white;
}