<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width: device-width, initial-scale=1" />
    <title>WideLancer - Histórico de Compras</title>
    <link rel="icon" href="../imagens/logo.png" type="image/png">
    <link rel="stylesheet" th:href="@{css/hist_compra.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
    <header>
        <img th:src="@{images/logo.png}" id="logo" style="width: 90px; height: 80px;" />
        <div class="container">
            <h1><span class="wide">Wide</span><span class="lancer">Lancer</span></h1>
        </div>
        <div class="login-container">
            <a th:href="@{login}" class="btn">Login</a>
        </div>
        <div id="perfil-container">
            <a th:href="@{perfil}" class="btn">Perfil</a>
        </div>
        <div class="login-container">
            <a th:href="@{notificacoes}" class="btn">Notificações</a>
        </div>
        <div class="login-container">
            <a th:href="@{home}" class="btn">Home</a>
        </div>
    </header>

    <main>
        <section class="historico-container">
            <h2>Histórico de Compras</h2>
            <table class="historico-table">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Produto</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="produto : ${produtos}">
                        <td th:text="${produto.getHoraEntrega}" ></td>
                        <td th:text="${produto.getFileName}" >$nome</td>
                        <td th:if="${produto.pago} == true" ><a th:href='${produto.getUrl}' download class='btn-download'><i class='fas fa-download'></i></a></td>
                        <td th:if="${produto.pago} == false" ><button th:id="${produto.getId}" class='btn-download button'>Pagar</button></td>
                    </tr>   

                </tbody>
            </table>
        </section>
    </main>
</body>
<script th:src="@{js/configuracoes.js}"></script>
<script th:src="@{js/compras.js}"></script>
</html>
