<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Stylesheets/cadas_anuncio.css">
</head>
<body>
    <header>
        <div class="container">
            <h1><span class="wide">Wide</span><span class="lancer">Lancer</span></h1>
        </div>
</header><br><br><br><br><br><br>
    <main>
        <div id="main">
            <h1>Anuncio</h1><br><br>
            <div>
                <div>
                    <input type="text" id="nome" placeholder="Nome do serviço">
                    <textarea name="" id="descric" placeholder="descrição do serviço"></textarea>
                </div>
                <label for="infile"id="input_file">+</label>
                <input id="infile" type="file">
            </div><br>
            <div id="btn">
                <input type="button" id="botao" value="Anunciar">
            </div>
        </div>
    </main>
</body>
<script src="../Configuracoes.js"></script>
<script src="../Javascripts/cadas_anuncio.js"></script>
</html>