<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WideLancer - Cadastro</title>
    <link rel="icon" href="../imagens/logo.png" type="image/png">
    <link rel="stylesheet" href="../Stylesheets/cadastro.css">
</head>
<body>
    <header>

    </header>
    <main>
        <div id="esquerda">
            <h1>Divulgue seu Webservice com <br> WideLancer !</h1>
            <p>Há um mundo de oportunidades a sua espera</p>
        </div>
        <div id="direita">
            <h3>Cadastro</h3>
            <input type="text" name="nome" placeholder="Nome">
            <input type="text" name="sobrenome" placeholder="Sobrenome">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="senha" placeholder="Senha">
            <p>Já possui uma conta? <a href="login.html">Login</a></p>
            <div id="divbutt">
                <input type="button" id="btn" value="Cadastrar">
            </div>
            <div id="statusHTTP">
                <img src="../imagens/Erro.png" alt="">
                <div>
                    <p>erro</p>
                    <p>erro</p>
                    <p>erro</p>
                    <p>erro</p>
                    <p>erro</p>
                </div>
            </div>

        </div>
    </main>
</body>
<script src="../Configuracoes.js"></script>
<script src="../Javascripts/cadastro.js"></script>
</html>