<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de pesquisa</title>
    <link rel="stylesheet" href="../Stylesheets/pesquisa.css">
</head>
<body>
   <header>
    <div class="container">
        <h1><span class="wide">Wide</span><span class="lancer">Lancer</span></h1>
    </div>
    <input type="text" placeholder="Procure um serviço digital! Ex.: Design logos" id="search-bar">
   </header>
   <main>
    <div id="cards">
        <div class="card">
            <img src="../imagens/peashooter.jfif" alt="">
            <div>
                <p class="preco">Preço: 100 sois</p>
                <p class=" descricao">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat modi, aliquam voluptas praesentium similique voluptatibus,</p>
            </div>
        </div>
        <div class="card">
            <img src="../imagens/peashooter.jfif" alt="">
            <div>
                <p class="preco">Preço: 100 sois</p>
                <p class=" descricao">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat modi, aliquam voluptas praesentium similique voluptatibus,</p>
            </div>
        </div>   <div class="card">
            <img src="../imagens/peashooter.jfif" alt="">
            <div>
                <p class="preco">Preço: 100 sois</p>
                <p class=" descricao">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat modi, aliquam voluptas praesentium similique voluptatibus,</p>
            </div>
        </div>   <div class="card">
            <img src="../imagens/peashooter.jfif" alt="">
            <div>
                <p class="preco">Preço: 100 sois</p>
                <p class=" descricao">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat modi, aliquam voluptas praesentium similique voluptatibus,</p>
            </div>
        </div>   <div class="card">
            <img src="../imagens/peashooter.jfif" alt="">
            <div>
                <p class="preco">Preço: 100 sois</p>
                <p class=" descricao">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat modi, aliquam voluptas praesentium similique voluptatibus,</p>
            </div>
        </div>   <div class="card">
            <img src="../imagens/peashooter.jfif" alt="">
            <div>
                <p class="preco">Preço: 100 sois</p>
                <p class=" descricao">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat modi, aliquam voluptas praesentium similique voluptatibus,</p>
            </div>
        </div>   <div class="card">
            <img src="../imagens/peashooter.jfif" alt="">
            <div>
                <p class="preco">Preço: 100 sois</p>
                <p class=" descricao">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat modi, aliquam voluptas praesentium similique voluptatibus,</p>
            </div>
        </div>   <div class="card">
            <img src="../imagens/peashooter.jfif" alt="">
            <div>
                <p class="preco">Preço: 100 sois</p>
                <p class=" descricao">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat modi, aliquam voluptas praesentium similique voluptatibus,</p>
            </div>
        </div>   <div class="card">
            <img src="../imagens/peashooter.jfif" alt="">
            <div>
                <p class="preco">Preço: 100 sois</p>
                <p class=" descricao">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat modi, aliquam voluptas praesentium similique voluptatibus,</p>
            </div>
        </div>   <div class="card">
            <img src="../imagens/peashooter.jfif" alt="">
            <div>
                <p class="preco">Preço: 100 sois</p>
                <p class=" descricao">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat modi, aliquam voluptas praesentium similique voluptatibus,</p>
            </div>
        </div>   <div class="card">
            <img src="../imagens/peashooter.jfif" alt="">
            <div>
                <p class="preco">Preço: 100 sois</p>
                <p class=" descricao">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat modi, aliquam voluptas praesentium similique voluptatibus,</p>
            </div>
        </div>   <div class="card">
            <img src="../imagens/peashooter.jfif" alt="">
            <div>
                <p class="preco">Preço: 100 sois</p>
                <p class=" descricao">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat modi, aliquam voluptas praesentium similique voluptatibus,</p>
            </div>
        </div>   <div class="card">
            <img src="../imagens/peashooter.jfif" alt="">
            <div>
                <p class="preco">Preço: 100 sois</p>
                <p class=" descricao">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat modi, aliquam voluptas praesentium similique voluptatibus,</p>
            </div>
        </div>
   </main>
</body>
</html>